<h1>Order #<%= @order.id %></h1>

<form id="payment-form" data-controller="stripe">
  <div id="card-element"></div>
  <button id="submit-button">Pay $<%= @amount %></button>
</form>

<script src="https://js.stripe.com/v3/"></script>
